:root {
    --primary-color: #007bff; /* Blue tone from your APP.css */
    --secondary-color: #0056b3; /* Darker shade of blue */
    --background-color: #f8f9fa; /* Light gray background */
}

.img-link {
    text-align: center;
}

.footer-info {
    font-size: 24px;
    color: var(--primary-color);
    font-weight: bold;
    background-color: var(--background-color);
    text-align: center;
}

h1 {
    margin: auto 30px;
    padding: 10px;
    color: var(--primary-color);
    font-weight: bold;
}

#topics {
    font-size: small;
    font-style: italic;
    color: var(--primary-color);
}

#card-title {
    margin-top: 10px;
    color: var(--primary-color);
    text-shadow: 1px 1px 6px var(--secondary-color);
}

#footer {
    padding: 5px;
    margin-top: 10px;
}

.icon {
    padding: 10px;
}

#contact-section {
    justify-content: center;
    margin: 20px;
    margin-left: 2em;
    margin-right: 2em;
}

.error-text {
    color: var(--primary-color);
}

#footer {
    background-color: var(--secondary-color);
}

#footer .icon {
    background-color: var(--secondary-color);
    margin-top: 20px;
}

#footer p {
    background-color: var(--secondary-color);
    margin-top: 8px;
}

#footer a {
    text-decoration: none;
    color: var(--primary-color);
}

#react-icon {
    background-color: var(--secondary-color);
}
